@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
    font-family: Geogrotesque;
    src: url("../fonts/Ge2003-Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/Ge2003-Rg.woff2") format("woff2"), url("../fonts/Ge2003-Rg.woff") format("woff"), url("../fonts/Ge2003-Rg.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: Geogrotesque;
    src: url("../fonts/Ge2003-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/Ge2003-Md.woff2") format("woff2"), url("../fonts/Ge2003-Md.woff") format("woff"), url("../fonts/Ge2003-Md.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: Geogrotesque;
    src: url("../fonts/Ge2003-SmBd.eot?#iefix") format("embedded-opentype"), url("../fonts/Ge2003-SmBd.woff2") format("woff2"), url("../fonts/Ge2003-SmBd.woff") format("woff"), url("../fonts/Ge2003-SmBd.ttf") format("truetype");
    font-weight: 600;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Geogrotesque, sans-serif;
}

.main {
    width: calc(100% - 85px);
    margin-left: 85px;
}

.image {
    width: 70%;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 35px 0px;
}

.image img {
    width: 100%;
    display: block;
}

.element-content {
    background-color: rgb(244, 244, 244);
}

.top-cloumn {
    padding-top: 132px;
}

.down-cloumn {
    padding-top: 5%;
    width: 40%;
    padding-bottom: 150px;
}

.heading span {
    font-size: 1.2rem;
    color: rgb(80, 83, 84);
}

.heading h2 {
    padding-top: 16px;
    font-size: 50px;
    color: rgb(56, 168, 224);
    font-weight: 500;
}

.heading-b span {
    font-size: 1.2rem;
    color: rgb(80, 83, 84);
}

.heading-b h2 {
    padding-top: 16px;
    font-size: 50px;
    color: rgb(56, 168, 224);
    font-weight: 500;
}

.down-cloumn p {
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(124, 124, 124);
    margin: 20px 0px;
    line-height: 30px;
    padding-left: 8%;
}

.case-button a {
    padding: 15px 45px;
    border: 1px solid rgb(200, 211, 0);
    text-transform: uppercase;
    text-decoration: none;
    font-family: Geogrotesque, sans-serif;
    color: rgb(32, 32, 32);
    transition: all 0.5s ease 0s;
    margin-left: 8%;
    font-weight: 500;
}

.case-button {
    padding: 50px 0px 15px;
}

.case-button a:hover {
    background: rgb(200, 211, 0);
}

.heading {
    padding-left: 8%;
}

.element-slider2 {
    align-items: center;
    height: 90vh;
    overflow: hidden;
    opacity: 1;
}

.element-slider-slides {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

.left-content {
    width: 50%;
    position: relative;
}

.left-content2 {
    width: 50%;
    position: relative;
}

.img-sec img {
    width: 100%;
}

.right-content {
    width: 50%;
    display: flex;
    align-content: center;
}

.slider-content {
    padding: 0px 220px;
}

.element-slider {
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}

span.topline {
    font-size: 1.2rem;
    line-height: 1;
    text-transform: uppercase;
    color: rgb(178, 178, 178);
}

.slider-content h2 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px 0px;
}

p.slide-p {
    font-size: 1.5rem;
    color: rgb(178, 178, 178);
    padding: 5px 0px 25px;
}

a.slide-btn {
    padding: 15px 30px;
    background: transparent;
    border: 1px solid rgb(200, 211, 0);
    font-size: 1rem;
    color: rgb(223, 223, 223);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 120px;
    text-align: center;
    margin-top: 1.3em;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.5s ease 0s;
}

a.slide-btn:hover {
    background: rgb(200, 211, 0);
    color: rgb(62, 62, 63);
}

.slider-control-btn {
    position: absolute;
    bottom: 2rem;
    width: 28%;
    display: flex;
    padding: 0px 12%;
    justify-content: space-between;
}

span.slide-text {
    float: left;
}

ul.slide-control-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

li.slide-control-list {
    margin-left: 30px;
    float: left;
}

.slide-text {
    font-size: 1.4rem;
    line-height: 1;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.element-slider1 {
    height: 90vh;
    align-items: center;
}

li.slide-control-list i {
    cursor: pointer;
}

ul.slide2-control-menu {
    list-style: none;
    display: flex;
}

li.slide2-control-list {
    display: flex;
    width: 50%;
    justify-content: center;
    background: rgb(51, 51, 51);
    border: 1px solid rgb(78, 78, 78);
}

li.slide2-control-list i {
    font-size: 3rem;
    cursor: pointer;
    padding: 5px 80px;
}

.slide-control-btn2 {
    display: none;
}

.contentslide p {
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(124, 124, 124);
    margin: 20px 0px;
    line-height: 30px;
    padding-left: 8%;
    padding-bottom: 50px;
}

.imagecontent {
    display: flex;
    flex-direction: row;
}

section.element2 {
    display: inline-block;
    padding-top: 200px;
    background: rgb(244, 244, 244);
    padding-bottom: 600px;
}

.imageslide {
    width: 50%;
}

.contentslide {
    width: 50%;
    padding-right: 8%;
}

.imageslide img {
    width: 100%;
}

.job-button a {
    padding: 15px;
    border: 1px solid rgb(200, 211, 0);
    text-transform: uppercase;
    text-decoration: none;
    font-family: Geogrotesque, sans-serif;
    color: rgb(32, 32, 32);
    transition: all 0.5s ease 0s;
    margin-left: 8%;
    display: inline-block;
    font-weight: 600;
}

.job-button a:hover {
    background-color: rgb(200, 211, 0);
}

a#active-btn {
    margin-left: 3%;
    background: rgb(200, 211, 0);
    border: none;
}

#active-btn:hover {
    background: rgb(219, 230, 14);
}

.popup-image {
    width: 45vw;
    position: absolute;
    top: 70%;
    left: 30%;
}

.element2Content {
    position: relative;
}

.popup-image img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 35px 0px;
}

.news-heading h2 {
    padding-top: 16px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    line-height: 3rem;
    padding-bottom: 15px;
    letter-spacing: 1px;
    font-size: 3.3rem;
}

.element3-content-Wrapper {
    background: linear-gradient(rgba(46, 46, 47, 0.82), rgba(46, 46, 47, 0.82)) center center / cover, url("./img/artboard-2.webp");
    padding: 12rem 15rem;
}

.left-slide-content {
    width: 40%;
    z-index: 2;
}

.element3-content {
    display: flex;
    background: rgb(46, 46, 47);
    position: relative;
    padding: 12rem 15rem;
    overflow: hidden;
}

.background {
    background-image: url("./img/artboard-2.webp");
    position: absolute;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.18;
    z-index: 1;
}

.right-slide-menu {
    width: 60%;
    z-index: 2;
}

ul.list {
    list-style: none;
}

li.news-menu a {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

li.news-menu {
    /* font-size: 25px; */
    padding-bottom: 1.3rem;
    padding-top: 3.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

span.date {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(178, 178, 178);
    flex-basis: 15%;
}

span.readmore {
    font-size: 18px;
    font-weight: 500;
    flex-basis: 15%;
    text-align: end;
    transition: all 0.5s ease 0s;
}

.text {
    flex-basis: 70%;
}

.text h3 {
    font-size: 30px;
    font-weight: 500;
    transition: all 0.5s ease 0s;
}

.news-menu a:hover .readmore {
    color: rgb(200, 211, 0);
}

li.news-menu a:hover .text h3 {
    color: rgb(178, 178, 178);
}

.news-button a {
    padding: 15px 0px;
    background: transparent;
    border: 1px solid rgb(200, 211, 0);
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    width: 300px;
    text-align: center;
    margin-top: 1.3em;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.5s ease 0s;
}

.news-button a:hover {
    background: rgb(200, 211, 0);
    color: rgb(51, 51, 51);
}

.news-heading span {
    color: rgb(178, 178, 178);
    font-size: 18px;
}

section.cta-box {
    display: inline-block;
    width: 100%;
    padding-bottom: 100px;
}

section.element3 {
    display: inline-block;
    padding-bottom: 150px;
    background: rgb(244, 244, 244);
    width: 100%;
}

body {
    background: rgb(244, 244, 244);
    position: relative;
}

.content-box {
    background: rgb(37, 37, 38);
    color: rgb(255, 255, 255);
    padding: 50px 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-box h2 {
    font-size: 40px;
    font-weight: 500;
}

.content-box a {
    padding: 1.2em 3.5em;
    background: rgb(200, 211, 0);
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.5s ease 0s;
    letter-spacing: 0.03rem;
    color: #3e3e3e;
}

.content-box a:hover {
    background: rgb(222, 229, 102);
}

ul.ref-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

li.ref-item {
    flex-basis: 33.3%;
    padding: 4rem 0px;
}

.reference-list {
    text-align: center;
}

.reference_content {
    padding: 0px 12.5%;
}

.reference-heading {
    text-align: center;
    max-width: 46rem;
    margin: auto;
    padding-bottom: 50px;
}

span.heading-line {
    font-size: 20px;
    font-weight: 600;
    color: rgb(56, 168, 224);
}

.reference-heading p {
    margin-top: 20px;
    font-size: 35px;
    color: rgb(74, 74, 74);
}

a.contact-btn {
    padding: 1.2em 3.5em;
    background: rgb(200, 211, 0);
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.5s ease 0s;
    letter-spacing: 0.03rem;
    display: inline-block;
    margin-top: 50px;
    color: rgb(0, 0, 0);
}

a.contact-btn:hover {
    background: rgb(222, 229, 102);
}

.pre-footer-cover {
    background-image: url("./img/ref-img/ref-bg-faded.webp");
    position: relative;
    width: 100%;
    height: 0px;
    padding-top: 73%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-item {
    display: flex;
    justify-content: space-between;
    padding: 0px 12.5%;
}

.footer-cloumn {
    flex-basis: 22%;
}

.footer-cloumn-link {
    flex-basis: 22%;
}

.footer-cloumn-job {
    flex-basis: 40%;
}

.footer {
    display: inline-block;
    padding: 8rem 0px;
    background: rgb(46, 46, 47);
    color: rgb(255, 255, 255);
}

.logo span {
    font-size: 22px;
    font-weight: 900;
}

.logo i {
    background: rgb(56, 168, 224);
    border-radius: 50%;
    padding: 2px 4px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.logo {
    padding-bottom: 40px;
}

span.footer-head {
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.footer-cloumn p {
    font-size: 20px;
    margin-top: 25px;
    color: rgb(178, 178, 178);
    line-height: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}

a#quicklink {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}

a#quicklink:hover {
    color: rgb(200, 211, 0);
}

.footer-cloumn-link ul li {
    list-style: none;
    margin-top: 5px;
}

.footer-cloumn-link ul {
    margin-top: 25px;
}

.job-cont p {
    font-size: 20px;
    letter-spacing: 0.03rem;
    line-height: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    color: rgb(178, 178, 178);
    padding-top: 25px !important;
}

.footer-cloumn-job a {
    margin-top: 80px;
    font-size: 20px;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.5s ease 0s;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}

.footer-cloumn-job a:hover {
    color: rgb(200, 211, 0);
}

.items img {
    margin: 0px 2.5rem;
}

.image-last {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.last-content {
    padding: 80px 12.5%;
}

.right {
    text-align: center;
    margin-top: 50px;
}

.right span {
    font-weight: 600;
    color: rgb(178, 178, 178);
}

.top-navigation-bar nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a.brand-logo span {
    font-size: 30px;
    font-weight: 900;
    display: flex;
    align-items: center;
}

a.brand-logo i {
    background: rgb(56, 168, 224);
    border-radius: 50%;
    padding: 2px 4px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

ul.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.2rem 3.3rem;
    margin-left: 85px;
}

header.top-navigation-bar {
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.line {
    width: 100%;
    height: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 25px 0px;
    background-color: rgb(255, 255, 255);
}

#mobile-btn {
    width: 34px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul.lang {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.secondary-nav {
    display: flex;
    align-items: center;
}

a.brand-logo {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 3rem;
}

li.servicepage a {
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

li.servicepage {
    margin-right: 2rem;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease 0s;
}

a.contact-us-btn {
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 1.025em 3.6em;
    border: 1px solid rgb(200, 211, 0);
    transition: all 0.5s ease 0s;
    color: rgb(255, 255, 255);
}

a.contact-us-btn:hover {
    background: rgb(200, 211, 0);
    color: rgb(51, 51, 51);
}

.search-btn {
    margin: 0px 1.8rem;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

li.lang-list {
    margin-right: 0.5rem;
}

li.lang-list a {
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9rem;
    color: rgb(163, 163, 163);
    transition: all 0.5s ease 0s;
}

.lang-list a:hover {
    color: rgb(255, 255, 255);
}

section.home {
    height: 90vh;
    min-height: 90vh;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

section.home {
    position: relative;
    display: flex;
    align-items: center;
}

section.home::before {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 47);
    opacity: 0.5;
    z-index: 1;
}

li.servicepage:hover {
    border-bottom: 1px solid rgb(200, 211, 0);
}

.caption {
    padding: 0px 12%;
    flex-basis: 100%;
    z-index: 2;
}

.caption span {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(200, 211, 0);
}

.caption h2 {
    font-size: 4.1rem;
    font-weight: 400;
    margin-right: 35%;
    color: rgb(255, 255, 255);
    line-height: 4.2rem;
    padding: 1rem 0px 3rem;
}

.caption a {
    padding: 1rem 3.5rem;
    display: inline-block;
    background: rgb(200, 211, 0);
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    color: #3e3e3e;
}

.caption a:hover {
    background: #dee566;
}

.text-content p {
    font-size: 1.9rem;
    font-family: "Open Sans";
    color: rgb(195, 195, 195);
}

strong {
    font-family: "Open Sans";
    font-weight: 600;
    color: rgb(195, 195, 195);
}

.text-content {
    padding: 13rem 12.5% 30rem;
    background: rgb(46, 46, 47);
}

.media-wrapper,
.video-tmb {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    font-family: "object-fit: cover;";
    object-fit: cover;
}

.media-expand {
    position: relative;
}

.media-wrapper {
    position: relative;
    padding-bottom: 56%;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 25px 0px;
}

.media-element {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: -12.5%;
}

.media-container {
    width: 70%;
}

.video-tmb {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2;
}

button.player-btn {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button.player-btn {
    padding: 2.5rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 50%;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

embed {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: none;
}

.header-content {
    padding: 0px 12.5% 2%;
}

section.fast-element {
    padding-top: 8rem;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    bottom: 0px;
    background-size: cover;
    transition: all 0.6s cubic-bezier(0.25, 0.69, 1, 1) 0s;
}

.gard-services {
    display: flex;
}

.services-card {
    position: relative;
    min-height: 33vh;
    flex-basis: calc(33.3333% - 0.1px);
}

.services-card {
    height: 83vh;
}

a.cards-contnet {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.card-text-content {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    padding: 10%;
    word-break: break-word;
    color: #fff;
    bottom: 0;
    transition: 0.3s ease;
}

.card-text-content span {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(200, 211, 0);
}

.card-text-content h3 {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 2rem;
    padding-top: 5px;
    transition: all 0.4s ease 0s;
    line-height: 2.5rem;
}

.back::before {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 47);
    opacity: 0.5;
    z-index: 1;
}

span.card-btn {
    font-size: 1.2rem;
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    width: 20%;
    margin-bottom: 0px !important;
}


/* Job Page */

.job-background {
    background-image: url(./img/artboard-2-copy.webp);
    position: absolute;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 70rem;
    left: 0px;
    top: 0px;
    opacity: 0.18;
    z-index: 1;
}

.job-content {
    display: flex;
    background: rgb(46, 46, 47);
    position: relative;
    min-height: 46rem;
    padding: 12rem 15rem;
}

.filter-bar ul {
    display: flex;
    list-style: none;
}

.filter-bar li {
    padding-left: 2rem;
    padding-bottom: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filter-bar ul :first-child {
    padding-left: 0;
    color: #b2b2b2;
}

label {
    display: block;
    font-weight: 600;
    font-size: 21px;
    line-height: 1em;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1rem;
    margin-right: 30px;
}

input#scelector,
#scelector1,
#scelector2,
#scelector3 {
    z-index: 1;
    position: absolute;
    height: 27px;
    width: 27px;
    right: 0;
}

.job-heading h2 {
    padding-top: 16px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    line-height: 3rem;
    padding-bottom: 15px;
    letter-spacing: 1px;
    font-size: 3.3rem;
}

.job-heading span {
    color: rgb(178, 178, 178);
    font-size: 18px;
}

.job-button a {
    padding: 15px 0px;
    background: transparent;
    border: 1px solid rgb(200, 211, 0);
    font-size: 0.8rem;
    color: rgb(0 0 0);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    width: 200px;
    text-align: center;
    margin-top: 1.3em;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.5s ease 0s;
}

.job-button a:hover {
    background: rgb(200, 211, 0);
    color: rgb(51, 51, 51);
}

.text span {
    color: #b2b2b2;
    font-weight: 600;
}

label:before {
    width: 27px;
    height: 27px;
}

input[type=radio]+label {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

input[type=radio]+label:before {
    display: inline-block;
    width: 27px;
    height: 27px;
    border: 1px solid #c9c9c9;
    border-radius: 50%;
    margin-right: 10px;
}

input[type=radio]+label:after {
    width: 16px;
    opacity: 0;
    transition: opacity .25s;
}